.avatar {

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/*Tipo de letras*/
h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
}
p,label,span,small{
  font-family: 'Roboto', sans-serif;
}

body{
 background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#logoMenu{
     display: flex;
        align-items: center;
}

#sidebar-wrapper{
  background-color: #0D0D0D;
}

#sidebar-wrapper p{
  color: #CCD1D1;
}

#menu{
  background-color: #0D0D0D;
}
/*EFECTO DEL MENU LATERAL*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1135 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 500;

}
.snip1135 * {
  box-sizing: border-box;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 2em 0 -20%;
  padding-left: 15px;


}

.snip1135 a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;

}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #BF0310;
}
.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}
/*FIN DEL EFECTO*/

/*ESTILO PARA LOS DATOS DEL ESTUDIANTE*/
#carnet{
      width: 350px;
      height: 350px;
      border-width: 5px;
      border-color: #FFF;
      border-style: solid;
      background-color: #717175;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
}
#foto {
    top: auto;
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}

.peligro{
  width: 150px;
    height: 200px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    background-color: #F80E20;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.advertencia{
  width: 150px;
    height: 200px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    background-color: #F1C40F;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.completo{
  width: 150px;
    height: 200px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    background-color: #11E93F;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

#total{
  width: 150px;
    height: 200px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    background-color: #F0F3F4;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}
