
#main
{
	margin-top: 50px;
}
#nav
{
		border-width: 2px;
	border-color: black;
	border-style: dotted;
	float: left;
	border-radius: 40px;
	width: 20%;
	margin-left: 35px;
}
.nav-link
{
	width: 140px;
	color: black;
	border-radius: 10px;
	border-color: #ADADB2;
	border-style: solid;
	border-width: 1px;
    margin:auto;
	margin-bottom: 10px;

}
.nav-link:hover
{
	background-color: #BE0032;
	color: white;
}
span
{
	margin-left: 2px;
	margin-right: 6px;
}
.title-1
{
font-size: 20px;
text-align: center;
}
.card-body
{
	height: 80px;
	border-radius: 10px;
	width: 70%;
	float: left;
	margin-left: 30px;
}
img
{
	  width: 30px;
	  margin-right: 5px;
}
#button
{
	border-radius: 20px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.btn
{
	float: right;
	margin-top: -15px;
	margin-right: 20px;
}