.sidebar-heading img {
	margin-top: 30px;
}
.linemenu {
	width: 210px;
}
#novedades {
	float: left;
}

#avisos {
	display: inline-block;
}

#enlaces {
	float: right;
}
.btn-leer {
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
	margin-top: 8px;

	width: 60%;
	height: 30px;
	border-radius: 25px;
	background: #9d120e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.btn-visitar{
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
	margin-top: 8px;

	width: 60%;
	height: 30px;
	border-radius: 25px;
	background: #9d120e;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

@media (min-width: 768px) and (max-width: 1024px) {
	#movil {
		background-size: 100% 100%;
	}
	.sidebar-heading img {
		margin-top: 30px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 757px) {
	/*Barra de submenu gris*/
	.title h2 {
		font-size: 20px;
		margin-top: 8px;
		margin-left: 0em;
	}
	.title {
		max-width: 100%;
	}
	.icon {
		height: 18px;
		width: 18px;
		margin-top: 0px;
	}
	/*Cuenta de acceso*/
	#Formularioacceso {
		display: block;
	}
	#Formularioacceso1 {
		display: block;
	}
	.botonacceso {
		max-width: 200px;
		display: inline-block;
	}
	#veralumno {
		max-width: 180px;
		margin-right: 120px;
	}
	/*Formulario de crear cuenta*/
	.botonresponsivo {
		max-width: 150px;
		
		margin-bottom: 1px;
		display: block;
		text-decoration: none;
	}
	#formularioalumno {
		display: block;
	}
	#formularioalumno1 {
		display: block;
	}
	#formularioalumno2 {
		display: block;
	}
	#formularioalumno3 {
		display: block;
	}
	#formularioalumno4 {
		display: block;
	}
	.alumnoboton {
		display: block;
		max-width: 200px;
	}
	/*Menu*/
	.sidepanel #sidebar-wrapper {
		margin-right: -18px;
		font-size: 13px;
	}
	.linemenu {
		width: 210px;
	}
	#sidebar-wrapper .snip1135 {
		margin-left: 210px;
		font-size: 13px;
	}

	.sidebar-heading {
		margin-right: -230px;
		font-size: 1.2rem;
		background-color: #0d0d0d;
	}
	.sidebar-heading img {
		margin-top: 30px;
	}
	/*Accesorios de index*/
	#novedades h3,
	p {
		font-size: 15px;
	}

	h1 {
		font-size: 13px;
	}
	#enlaces h4 {
		font-size: 15px;
	}

	#enlaces h3,
	h4 {
		font-size: 15px;
	}

	#avisos h3,
	p {
		font-size: 15px;
	}

	#avisos img {
		height: 50px;
		width: 50px;
	}

	#enlaces img {
		height: 50px;
		width: 50px;
	}
	#img1 {
		height: 50px;
		width: 50px;
	}

	#img2 {
		height: 30px;
		width: 100px;
	}

	.btn-leer {
		height: 20px;

		width: 40%;
	}
	.btn-visitar{
height: 20px;
width: 55;

	}

	#enlaces {
		float: left;
	}
}

.container-fluid text-center {
	background-color: white;
}
