#movil{
  max-width: 100%;
}
#novedades{
  float: left;
  font-color: black;
}
.Novedad1{
  text-align: left; 
  font-weight: bold; 
  color:black;
}
.boletin{
  text-align: left;
  color: black;
}


#avisos{
 
display: inline-block;
 

}
.aviso1{
  font-weight: bold;
  color: black;
}
.textoa{
  text-align: left;
  color: black;
}

#enlaces{

 float: right;
}
.enlace1{
  font-weight: bold;
  color: black;
}

.btn-leer{
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
margin-top: 8px;

  width: 60%;
  height: 30px;
  border-radius: 25px;
  background: #9d120e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


@media (min-width: 768px) and (max-width: 1024px) {

  #movil {

  
    background-size: 100% 100%;

  }


}


 


@media only screen and (max-width: 767px) {

  #movil {
max-height: 100%;

  }

  .sidepanel #sidebar-wrapper { 
    margin-right: -18px;
font-size: 13px;


    
  }
  .linemenu{
    width: 210px;
    
  }
  #sidebar-wrapper .snip1135{
    margin-left: 210px;
    font-size: 13px;
   
  }
  
 .sidebar-heading {
margin-bottom: -10px;
  margin-right: -230px;
  font-size: 1.2rem;
  background-color: #0D0D0D;

}
  #novedades {
    display: inline-block;
    width: 200px;
    height: 168px;
    background-color: white;
    padding: 18px;

  }
.Novedad1{
 text-align: center;
  font-weight: bold; 
  color:black;
  font-size: 20px;
}
.boletin{
  margin-top: 10px;
  margin-right: 28px;
  text-align: center;
  color: black;
  font-size: 20px;
  display: block;
}
#imagen1{
  width: 60px;
  
  margin-top: 10px;
  display: inline-block;

}
#imagen2{
  float: bottom;
  width: 90px;
  display: block;
}
.btn-leer{
  width: 90px;
  float: center;

}
#avisos{
display: inline-block;
    width: 205px;
    height: 168px;
    background-color: white;
    padding: 18px; 


}
#imagen3{
width: 60px;
  
  margin-top: 5px;
  display: inline-block;
margin-right:  95px;

}
.aviso1{
  
  font-weight: bold; 
  color:black;
  font-size: 20px;
}
.textoa{
  margin-top: -55px;
  text-align: left;
  color: black;
   font-size: 15px;
   margin-right: -8px;


}
#enlaces{
float: left;
    width: 205px;
    height: 168px;
    background-color: white;
    padding: 18px; 
    margin-left: 90px;
}
.enlace1{
  font-weight: bold;
  color: black;
  font-size: 20px;

}
.titulo1{
  font-size: 15px;
}

}




.container-fluid text-center{
  background-color: white;
}