#tableUser2_info
{
  color: white;
}

#tableUser4_info{
  color: white;
}

#logito
{
  margin-left: 2%; height: auto; width: 8%;
}



@media only screen and (max-width: 767px) {

  #logito {

     width: 20%;
  }


}


#tableUser_info
{
    color: white;
}


#example_info
{
    color: white;
}


.paginate_button
{
    color: white;
    background: linear-gradient(to bottom, #b5b5b5 0%, #dcdcdc 100%);
}


.dropdown-item:hover
{
  background: rgba(0,0,0,0.5);
}



.avatar {

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}


#myTab
{
   background:#343a40;
}



.card-body
{
	background:#343a40;
}


.btn-dark
{
  background: #717175;
}




a {
 color: #eff0f0;
 text-decoration: none;
 background-color: transparent;
 font-family: 'Roboto Regular', arial;
}

a:hover {
    color: #ffdb00;
    text-decoration: underline;
    
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto Regular', arial;
}

h3{
   
    color: white;
    font-family: 'Roboto Regular', arial;
}

h4
{
 font-family: 'Roboto Light', arial;
}

h6
{
 font-family: 'Roboto Light', arial;
}

hr{
    background: white;
}





tr{
    font-size: 12px;
    font-family: 'Roboto Light', arial;
    
}

th
{
    font-size: 12px;
    font-family: 'Roboto Light', arial;
    font-weight: normal;
}


#emp-carr
{
    color: white;
}

#EstiloAlerta
{
    margin: 0 auto; 
    width: 30%; 
    position: fixed;
    top: 0; 
    right: 0;
    margin-top: 5%;
    font-family: 'Roboto Light', arial;

}

#EstiloAlertaCorreo
{
    margin: 0 auto; 
    width: 30%; 
    position: fixed;
    top: 0; 
    right: 0;
    margin-top: 10%; 
    font-family: 'Roboto Light', arial;
}

#EstiloAlerta3
{
    margin: 0 auto; 
    width: 30%; 
    position: fixed;
    top: 0; 
    right: 0;
    margin-top: 15%;
    font-family: 'Roboto Light', arial;
    
}

p
{   
    color: white;
    font-family: arial;
    text-align: justify;
    font-family: 'Roboto Light', arial;
}

h5
{
 color: white;
 font-family: arial;
 text-align: justify;
 font-family: 'Roboto Regular', arial;
}






/*ESTILO PARA LOS DATOS DEL ESTUDIANTE*/
#carnet{
  width: 300px;
  height: 300px;
  border-width: 1px;
  border-color: #000000;
  border-style: outset Outset;
  background-color: #BE0032;
  border-top-left-radius: 58%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 12%;
}
#foto {

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}

.peligro{
  width: 150px;
  height: 200px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #F80E20;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.advertencia{
  width: 150px;
  height: 200px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #F1C40F;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.completo{
  width: 150px;
  height: 200px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #11E93F;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

#total{
  width: 150px;
  height: 200px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #F0F3F4;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}



#cambio
{
    color: white;
}


#cambio:hover {
    background: rgba( 113, 113, 117, 0.5);
    text-decoration: none;
}