.title{
background-color: #ADADB2;
margin-top: -1px;
height: 70px;
margin-left: -1.5%;
margin-bottom: 3%;
height: 55px;
min-width: 100%;
display: inline-block;

}
h2 , .title2,.icon{
	float: left;
}
.main-title{
font-weight: bold;
color: #2D2D2E;
text-align: left;
font-size: 25px;
margin-left: 20px;
margin-top: 5px;

}
#formulariolaboral{
	
	background-color: white;
	border-color: #ADADB2;
	padding: 20px;
	border:2px;
}
.title2{
text-decoration: none;
margin-left: 50px;
background-color: #9d120e;
width: 180px;
height: 54px;
text-align: center;

}
.title21{
text-decoration: none;
margin-left: 5px;
background-color: #9d120e;
width: 180px;
height: 54px;
display: inline-block;
float: left;
text-align: center;
}
.title2 > a {
margin-top: 10px;
color: white;
font-weight: bold;
text-align: center;
text-decoration: none;
}
.title21 > a{
margin-top: 10px;
color: white;
font-weight: bold;
text-align: center;
text-decoration: none;
}
.icon {

	width: 30px;
	margin-top: 10px;
      margin-left: 3%;	
      transform: rotate(180deg);
}
.example{
	background-color: white;
}
.card{
background-color: white;
}
.card-header{
background-color: white;
}
.card-body{
	background-color: black;
}
.modal-title{
	text-align: center;
	font-weight: bold;
}

.Actualizar{
	text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #9d120e;
    border-radius: 20px;
    border: 2px solid #9d120e;
    width: 150px;
    height: 30px;
}
.Actualizar:hover{
	color: black;
    background-color: #ADADB2;
}
.modal-content{
	background-color: white;
	border-color: black;
	border-radius: 30px;
	padding: 20px;
}
.modal-body{
	text-align: left;
}

.form-control{
	background-color: #ADADB2;
	color: black;
	border-radius: 20px;

}
.modal-header{
	border-color: #ADADB2;
	border:3px;
}
.modal-footer{
	border-color: #ADADB2;
	border:3px;
}

.crearempresa{
	border-radius: 20px;
    border: 2px solid #9d120e;
    width: 200px;height: 38px;
     background-color: #9d120e;
     color:white;
}
#soli > p {
	background-color:#9d120e;
	text-align: center;
	font-weight: bold;
	
}
