.title{
background-color: #ADADB2;
color: black;
height: 70px;
margin-left: 0%;
margin-bottom: -2%;
height: 55px;


}
h2 , .icon{
  float: left;
}
.main-title
{
text-align: left;
font-size: 25px;
margin-left: 25px;
margin-top: 12px;
font-weight: bold;
letter-spacing: 5px;
}
.icon
{

  width: 30px;
  margin-top: 13px;
  margin-left: 20px;
}

.icon2
{

  width: 20px;
  margin-right: 10px;
}

.title2
{
  
margin-left: 30px;
background-color: #BE0032;
width: 150px;
height: 54px;
display: inline-block;
}
.title2-text
{
margin-left:25px;
margin-top: -8px;
color: white;
font-weight: bold;
letter-spacing: 2px;
}



.buttons
{
	float: right;
}

.main
{
background-color: #BE0032;
border-radius: 40px;
}
#example
{
	color: black;
}
#main-inicio
{
	margin-top: 50px;
}
.card-body
{
	border-radius: 40px;
}