
/*Resolucion para dispositivos moviles  pequeños*/
@media(max-width: 540px)
{
  .justify-content-lg-end,.float-left
{
  color: black;

}
body
{
  background-color: white;
}
#actividad
{
  color: #BE0037;
  font-weight: bold;
  font-size: 10px;
}
.w-100
{
  background-color: #e4e4e4;
  border-radius: 30px;
  margin-bottom: 30px;
}
#Info-1
{
  margin: auto;
}
}
/*Resolucion para tablets*/
@media(min-width: 541px) and (max-width:720px )
{
  .justify-content-lg-end,.float-left
{
  color: black;

}
body
{
  background-color: white;
}
#actividad
{
  color: #BE0037;
  font-weight: bold;
  font-size: 10px;
}
.w-100
{
  background-color: #e4e4e4;
  border-radius: 30px;
  margin-bottom: 30px;

}
#Info-1
{
  margin:auto;
}
}
/*Resolucion para pc de escritorio*/
@media(min-width: 721px) and (max-width: 955px) {
  .justify-content-lg-end,.float-left
{
  color: black;

}
body
{
  background-color: white;
}
#actividad
{
  color: #BE0037;
  font-weight: bold;
  font-size: 10px;
}
.w-100
{
  background-color: #e4e4e4;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 30px;

}
#Info-1
{
  margin:auto;
}
}
@media(min-width: 956px)
{
    .justify-content-lg-end,.float-left
{
  color: black;

}
body
{
  background-color: white;
}
#actividad
{
  color: #BE0037;
  font-weight: bold;
  font-size: 1.1vw;
}
.w-100
{
  background-color: #e4e4e4;
  border-radius: 30px;
  text-align: center;

}
}

/*.Imfo-Left,#calendar
{
	margin-top: -20px;
}
#calendar {
        background-color: #ffffff;
        float: left;
        width: 100%;
        display: inline-block;
        margin-left: -1%
    	}
      .fc-title{
        color: #BE0032;
      }

  .Imfo-Left
  {
  	float: left;
  	margin-top: 20px;
  	margin-right: 70px;

  }
  .Imfo-Left-title
  {
  	color: black;
  	font-weight: bold;
  	font-size: 20px;
  	letter-spacing: 2px;
  }
  .Imfo-Left-1-title
  {
  	color: #BE0032;
  	font-weight: bold;
  }
  #first
  {
  	margin-top: -10px;
  }
  .Imfo-Left-1-text
  {
  	margin-top: -10px;
  	color: black;
  	font-weight: bold;
  	font-size: 14px;
  	margin-bottom: 18px;
  }
 .Imfo-Left-1
 {
 	background-color: #DCD7D7;
 	border-radius: 20px;
 	width: 110%;
 	height: 440px;

 }
.Imfo-Left-1-title,
.Imfo-Left-1-text
{
	margin-left:20px;

}
#btn-event
{
  margin-top: -80px;
  margin-right: 48%;
  background-color: #BE0037;
  height: 35px;
  border-radius: 30px;
  width: 18%;
  font-weight: bold;
}
#btn-event p
{
  text-align: center;
  font-size: 16px;
}
