.title{
background-color: #ADADB2;
color: black;
height: 70px;
margin-bottom: -2%;
height: 55px;
margin-top: -25px;
width: 110%;


}

.main-title
{
text-align: left;
font-size: 25px;
margin-left: 25px;
margin-top: 12px;
font-weight: bold;
letter-spacing: 5px;
}
.icon-2
{

  width: 20px;
  margin-right: 3px;
  margin-top: -3px;
}
.title2,.title3
{

margin-left: 50px;
background-color: #BE0032;
width: 180px;
height: 54px;
float: left;
margin-right: -20px;
}
.title2-text ,.title3-text

{
margin-left:20px;
margin-top: 15px;
color: white;
font-weight: bold;
letter-spacing: 2px;
}