

html,
body {
  height: 100%;
 background: url(../../../img/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}



@media only screen and (max-width: 767px) {

  body {
   
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-image: url(../../../img/FondoMovil.png);

 }


}

