

html,
body {
  height: 100%;
   background: url(../img/fondo.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
}



@media only screen and (max-width: 767px) {

  body {
   
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-image: url(../img/FondoMovil.jpg);

 }


}
.modal-content{
	background-color: red;
	border-color: black;
	border-radius: 50px;
	padding: 20px;


 }
 .modal-body{
	text-align: left;
	border-radius: 20px;

}

.form-control{
	background-color: #ADADB2;
	color: black;
	border-radius: 20px;



}

.modal-header{
	border-color: #ADADB2;
	border:3px;


}
.modal-footer{
	border-color: #ADADB2;
	border:3px;

}
.actualizarempresa{
	border-radius: 20px;
    border: 2px solid #BE0032;
    width: 200px;height: 38px;
     background-color: #BE0032;
     color:white;
}
#Guardar_Cuentas{
	border-radius: 20px;
    border: 2px solid #BE0032;
    width: 200px;height: 38px;
     background-color: #BE0032;
     color:white;
}
.modal-dialog{
	background-color: white 
	border-radius: 30px;
	opacity: 0.85;
-moz-opacity: 0.85;
filter: alpha(opacity=85);
-khtml-opacity: 0.85;
}