.status1,
.status2,
.status3,
.status4,
.status5 {
    margin-left: 70.5%;
    margin-bottom: 10px;
}

.status2,
.status3 {
    margin-top: 10px;
}

.status1 {
    width: 200px;
    height: 85px;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid;
    background-color: #c7c7c7;
    border-radius: 15px;
}

.status1>p {
    color: #2D2D2E;
    font-weight: bold;
    margin-bottom: 0.5px;
    margin-top: 3px;
}

.status2 {
    width: 200px;
    height: 160px;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid;
    background-color: #c7c7c7;
    border-radius: 15px;
}

.status2>p {
    color: #2D2D2E;
    font-weight: bold;
    margin-bottom: 0.5px;
    margin-top: 6px;
}

.status3,
.status4,
.status5 {
    width: 200px;
    height: 130px;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid;
    background-color: #c7c7c7;
    border-radius: 15px;
}

.status3>p,
.status4>p,
.status5>p {
    color: #2D2D2E;
    font-weight: bold;
    margin-bottom: 0.5px;
    margin-top: 6px;
}

.status3>h3,
.status2>h3,
.status1>h3,
.status4>h3,
.status5>h3 {
    color: #BE0032;
    font-weight: bold;
}

.status3>span,
.status4>span,
.status5>span {
    color: #BE0032;
    text-transform: uppercase;
}

#principal {
    background-color: white;
    margin-left: 3%;
    width: 100%;
}

.Info-Alumno1 {
    margin-left: 5px;
}

.Info-Alumno1-sec {
    width: 340px;
    height: 300px;
    background-color: #c7c7c7;
    border-radius: 20px;
    margin-top: -6%;
    text-align: justify;
    margin-left: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px;
}

#mainTitle {
    font-weight: bold;
    color: #2D2D2E;
}

.Info-Alumno1,
.Info-Alumno2 {
    float: left;
}

.Info-Alumno2 {
    margin-left: 10%;
}

.Info-Alumno2,
.Info-Alumno3 {
    margin-top: 3%;
}

.Info-Alumno1-sec p {
    display: inline-block;
}

.parrafo {
    margin-top: 30px;
}

.opciones {
    padding: 10px;
}

#carnet {
    width: 350px;
    height: 300px;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid;
    background-color: #2D2D2E;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-left: 30px;
}

.title {
    background-color: #c7c7c7;
    margin-top: -1px;
    color: black;
    height: 70px;
    margin-bottom: 3%;
    height: 55px;
    width: 100%;
}

.mx-auto {
    margin-bottom: 12.1em;
}

.sesion {
    margin-bottom: 23.3em;
}

.opciones p {
    color: black;
}

h2,
.title2,
.icon {
    float: left;
}

.main-title {
    text-align: left;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 5px;
}

.title2 {
    margin-left: 50px;
    background-color: #BE0032;
    width: 180px;
    height: 54px;
    margin-top: 1px;
}

.title2>p {
    margin-top: 15px;
    color: white;
    font-weight: bold;
}

.user {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto
}

#info1 {
    color: white;
    text-align: center;
}

.little {
    font-size: 13px;
}

.icon {
    width: 30px;
    margin-top: 15px;
    margin-left: 5%;
    transform: rotate(180deg);
}

.Info-Alumno3 {
    margin-left: 280px;
}

.subtitle {
    color: #BE0032;
    font-weight: bold;
}

.horas,
.horas2 {
    background-color: #BE0032;
    width: 50px;
    height: 30px;
    color: white;
    margin-left: 12px;
    border-radius: 500px;
}

.alerta {
    margin-left: 0px;
}

.subtitle {
    text-align: left;
}

.Info1 {
    margin-top: 40px;
}

.grafico1 {
    float: left;
}

.talleres {
    margin-top: -130px;
}

.Porc {
    margin-top: -20px;
}

.grafico2 {
    float: left;
    margin-left: 40px;
}

.reuniones {
    margin-top: -130px;
}

.HorasVinculacion {
    float: left;
    margin-left: 40px;
}

.Img1 {
    margin-bottom: -15px;
}

.horas {
    margin-left: 25px;
}

.Img2 {
    margin-bottom: -15px;
    margin-left: 38px;
}

.Empresas {
    float: left;
    margin-left: 40px;
}

.horas2 {
    margin-left: 324px;
}

.externa {
    margin-left: 315px;
}

.Info-Alumno3 {
    margin-top: 15px;
}

#button-info {
    background: #BE0032;
    height: 33px;
    width: 150px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
}

.status3 {
    height: 150px;
}

.subtitle {
    text-align: center;
}

.subtitle-p {
    text-align: left;
}

#novedades {
    float: left;
}

#avisos {
    display: inline-block;
}

#enlaces {
    float: right;
}

.btn-leer {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    width: 60%;
    height: 30px;
    border-radius: 20px;
    border-radius: 25.bordepx;
    background: #BE0032;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 8px;
}
.btn-leer2 {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    position: relative;
    top: 15px;
    border-radius: 25.bordepx;
    background: #BE0032;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 8px;
}

#imginicio {
    height: 46em;
    background: url(../img/Estudiante.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 767px) {
    #imginicio {
        height: 38em;
        margin-right: 15px;
        background: url(../img/EstudianteMovil.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #imginicio {
        height: 30em;
        margin-right: 15px;
        background: url(../img/SuperUserTable.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.title {
    background-color: #c7c7c7;
    margin-top: -1px;
    color: black;
    height: 70px;
    margin-left: -1.5%;
    height: 55px;
    width: 110%;
}
Infop
.icon {
    float: left;
}

.main-title {
    text-align: left;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 1px;
    font-weight: bold;
    letter-spacing: 3px;
}

.icon {
    width: 30px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(180deg);
}

#calendar {
    background-color: #ffffff;
}

.fc-title {
    color: #fff;
}

.title {
    background-color: #c7c7c7;
    margin-top: -1px;
    color: black;
    height: 70px;
    margin-left: -1.5%;
    height: 55px;
    width: 110%;
}

.title2,
.icon {
    float: left;
}

.main-title {
    text-align: left;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 1px;
    font-weight: bold;
    letter-spacing: 3px;
}

.icon {
    width: 30px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(180deg);
}
/*Franja Gris*/
