.title{
    background-color: #c7c7c7;
    margin-top: -1px;
    color: black;
    height: 70px;
    margin-left: -1.5%;
    margin-bottom: 2%;
    height: 55px;
    width: 110%;
    
    
    }
     .title2,.icon{
        float: left;
    }
    .main-title
    {
    text-align: left;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 1px;
    font-weight: bold;
    letter-spacing: 3px;
    }
    .title2
    {
    
    margin-left: 50px;
    background-color: #BE0032;
    width: 180px;
    height: 54px;
    margin-top: 1px;
    }
    .title2 > p 
    {
    margin-top: 15px;
    color: white;
    font-weight: bold;
    }
    .icon 
    {
    
        width: 30px;
        margin-top: 12px;
      margin-left: 20px;
      margin-right: 20px;
        transform: rotate(180deg);
    }
    
   
    .border2{
    
      text-align: left;
    
      border-color: #aaaaaa;
      border-width: 5px;
       border-style: solid; 
        width: 400px;
        border-radius: 25px;
        padding: 14px;
    }

    @media only screen and (min-width: 300px) and (max-width: 767px ) {

      .title h2{
      font-size: 20px;
      margin-top: 8px;
      margin-left: 0em;
      
      }
       .icon{
      height: 18px;
      width: 18px;
      margin-top: 11px;
       }
      
      .title{
      width: 105%;
      
      }
      
      .border2{
      
        width: 16em;
        height: 35em;
      
      
      
      }
      
      }