.title {
    background-color: #ADADB2;
    color: black;
    height: 70px;
    margin-left: 0%;
    margin-bottom: -2%;
    height: 55px;
}

h2,
.icon {
    float: left;
}

.main-title {
    text-align: left;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 12px;
    font-weight: bold;
    letter-spacing: 5px;
}

.icon {
    width: 30px;
    margin-top: 13px;
    margin-left: 20px;
}

.title2,
{
    margin-left: 30px;
    background-color: #BE0032;
    width: 150px;
    height: 54px;
    display: inline-block;
}

.title2-text {
    margin-left: 25px;
    margin-top: -8px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.row {
    margin: auto;
    margin-top: 20px;
    border-color: #CDCACA;
    border-width: 3px;
    border-radius: 40px;
    border-style: solid;
    width: 90%;
}



thead {
    background-color: black;
    color: white;
}
#table td
{
    padding: 15px;
}


#nota {
    margin-top: 20px;
}

p {
    color: black;
    font-size: 14px;
}

#nota {
    border-width: 2px;
    border-color: #BE0032;
    border-style: dotted;
    height: 140px;
    margin: 20px;
}

.icon-img {
    width: 20px;
    margin-top: -3px;
    margin-right: 3px;
}



.icon-img-2 {
    width: 20px;
    margin-top: -3px;
    margin-right: 25px;
}

#btn-activar {
    background-color: #BE0032;
    margin: auto;
    color: white;
}
@media screen and (max-width: 600px) {
    .main-title
    {
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .icon {
    width: 20px;
    margin-top: 18px;
    margin-left: 30px;
}
#table td
{
padding: 5px;
}
#btn-desactivar,#btn-cambiar,#btn-activar
{
    width: 100px;
    font-size: 10px;

}

}