
    
 nav li{
    display:inline-block;
    
    padding:5px 10px;
    
    
    text-align:center;
    color:#fff;
    }
    
    
    nav li{
        float:left;
        
        
       
       
        text-align:center;
        
        
        }

        .salto {
            display: none;
        }

        .dataTables_filter{

            color:black;


        }
